<!-- ======= About Section ======= -->
<div id="about" class="paddsection">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-4 ">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="https://res.cloudinary.com/dcsoakvpl/image/upload/v1638361950/Webportfolio/IMG_3345_bcob0h.jpg"
                            class="img-responsive" alt="me">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-descr">

                    <p class="p-heading">Highly motivated, self-starting developer seeking experience in the
                        field of
                        web development and design. </p>

                    <p>This web application is a showcase of what I have learned so far in the field of web development
                        and design</p>
                    <p class="p-heading"> Favourite quotes:</p>
                    <p class="separator">
                        Everybody in this country should learn to program a computer because it teaches you how to
                        think. - Steve Jobs
                    </p>

                </div>

            </div>
        </div>
    </div>
</div><!-- End About Section -->