<div id="hero" class="home">

    <div class="container">
        <div class="hero-content">
            <h1><span class="typed" data-typed-items="Jonathan Kabasele, Web Developer, UI UX Designer, Freelancer"></span>
            </h1>

            <p>Designer, Web Developer, App Developper, Freelancer</p>

            <ul class="list-unstyled list-social">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div><!-- End Hero -->