<div id="services">
    <div class="container">

        <div class="services-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="services-block">
                        <i class="bi bi-window"></i>
                        <span>UI/UX DESIGN</span>
                        <p class="separator">Figma, Adobe Photoshop and Illustrator
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="services-block">
                        <i class="bi bi-code-slash"></i>
                        <span>WEB DEVELOPMENT</span>
                        <p class="separator">Express.js, node.js, Mongodb
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="services-block">
                        <i class="bi bi-bar-chart"></i>
                        <span>WEB DESIGN</span>
                        <p class="separator">CSS, HTML5 and Javascript
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="services-block">
                        <a href="https://uzuribusiness.com"><i class="bi bi-app-indicator"></i></a>
                        <span>WORDPRESS</span>
                        <p class="separator">Fully functionning ecommerce website, click on icon to gain access

                        </p>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</div><!-- End Services Section -->