<%- layout('layouts/boilerplate') %>

    <div id="page-wrap">
        <!-- hero image     -->
        <div id="heroResume" class="home">

            <div class="container">
                <div class="hero-content">
                    <h1><span class="typed"
                            data-typed-items="Jonathan Kabasele, Web Developer, UI UX Designer, Freelancer"></span>
                    </h1>

                    <p>Web Developer, UI-UX Designer, Freelancer</p>

                    <ul class="list-unstyled list-social">
                        <li><a href="https://github.com/mazokujo"><i class="bi bi-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jonathan-kabasele-494455179/"><i
                                    class="bi bi-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- End Hero -->

        <div id="contact-info" class="vcard">

            <!-- Microformats! -->

            <h1 class="fn title">Jonathan K. Kabasele</h1>

            <p>
                Cell: <span class="tel">+27612878038</span><br />
                Email: <a class="email" href="mailto:jonathankabadjundi@gmail.com">jonathankabadjundi@gmail.com</a>
            </p>
        </div>

        <div id="objective">
            <p>
                I am a self taught Javascript developer currenty completing a Masters degree in Metallurgy Engineering.
                I have always been fascinated with the limitless possibilities of coding.
                For this reason I am always motivated to learn new and efficient way to solve problems by coding.
                I am a self motivated and a fast learner. I can quickly integrate into a team and provide value to the
                company and the customers

            </p>
        </div>

        <div class="clear"></div>

        <dl>
            <dd class="clear"></dd>

            <dt>Education</dt>
            <dd>
                <h2>Masters Degree in Metallurgy Engineering</h2>
                <p><strong>University of Johannesburg:</strong> completing in 2021</p>
            </dd>
            <dd>
                <h2>The Web Developer Bootcamp 2021</h2>
                <p><strong>Udemy course by Colt Steele:</strong> completed</p>
            </dd>
            <dd>
                <h2>The Modern React Bootcamp (Hooks, Context, NextJS, Router)</h2>
                <p><strong>Udemy course by Colt Steele:</strong> currently enrolled in</p>
            </dd>

            <dd class="clear"></dd>

            <dt>Skills</dt>
            <dd>
                <h2>web development skills</h2>
                <p>Javascript, Node.js, Express.js, Mongodb, Wordpress</p>

                <h2>web design skills</h2>
                <p>Bootstrap, Figma, Adobe Photoshop, Adobe Illustrator</p>
            </dd>

            <dd class="clear"></dd>

            <dt>Work Experience</dt>
            <dd>
                <h2>University Tutor<span>University of Johannesburg Feb 2021 - Nov 2021</span></h2>
                <ul>
                    <li>Casting design simulation in Magma 5</li>
                    <li>Mathematics engineering</li>
                    <li>Foundry engineering</li>
                </ul>

                <h2>Research assistant<span>Metal Casting technology Station 2019</span></h2>
                <ul>
                    <li>Worked on Foundry and Physcal metallurgy related project</li>
                </ul>
                <h2>Intern<span>Metal Casting technology Station 2017 - 2018</span></h2>
                <ul>
                    <li>Worked on Foundry and Physcal metallurgy related project</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt>Hobbies</dt>
            <dd>Sport, cooking, video games</dd>

            <dd class="clear"></dd>

            <dt>References</dt>
            <dd>Available on request</dd>

            <dd class="clear"></dd>
        </dl>

        <div class="clear"></div>

    </div>